<div class="container">
  <div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      <h2>Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-signin'} ) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>
        <br>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>
        <br>

        <% if devise_mapping.rememberable? -%>
          <div class="checkbox">
            <div class="field">
              <label>
                <%= f.check_box :remember_me %>
                Remember me
              </label
            </div>
          </div>
        <% end -%>
        <br>
        <div class="actions">
          <%= f.submit "Log in", class: 'btn btn-lg btn-primary btn-block' %>
        </div>
      <% end %>
      <br>

      <%= render "devise/shared/links" %>
    </div> <!--/col-md-4 -->

    <div class="col-md-4"></div>
  </div> <!--/.row -->
<div> <!--/.container -->
