<!DOCTYPE html>
<html>
<head>
  <title>Hello</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'Hello', root_path, class: "navbar-brand" %>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li> <%= link_to 'Home', root_path %> </li>
          <li> <a href="#about">About</a> </li>
          <li> <a href="#contact">Contact</a> </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if !signed_in? && !current_page_is_new_registration_one? %>
            <li class="dropdown">
                <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Sign up
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li> <%= link_to 'as a guest', new_guest_registration_path %> </li>
                  <li> <%= link_to 'as a store owner', new_owner_registration_path %> </li>
                  <li> <%= link_to 'as an admin', new_admin_registration_path %> </li>
                </ul>
            </li>
          <% end %>

          <% if !signed_in? && !current_page?(new_user_session_path) %>
            <li> <%= link_to('Log in', new_user_session_path) %> </li>
          <% end %>

          <% if signed_in? %>
            <li>  <%= link_to('Log out', destroy_user_session_path, method: :delete) %> </li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container">
    <div>
      <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: "flash #{key}" %>
      <% end %>


      <%= yield %>
    </div>
  </div> <!--/.container -->
</body>
</html>
